<div class="ui grid stackable">
   
   <div class="row">
       <h1>New Order</h1>
   </div>
   
   <div class="row">
       <%= render 'form', order: @order %>
   </div>
    
    <div class="row">
        <div>
            <%= link_to 'Back', orders_path, :class => "ui button grey" %>
        </div>
    </div>
    
</div>