<% provide(:title, "Home") %>

<div class="ui centered grid stackable padded">
    <div class="row">
        <%= render 'home/categories' %>
    </div>
    <div class="row">
         <%=render 'home/recent_items' %>
    </div>
</div>