<div class="ui grid stackable">
    
    <div class="row">
        <h1 class="ui header">New product</h1>
    </div>
    
    <div class="row">
        <%= render 'form', item: @item %>
    </div>
    
    <div class="row">
        <%= link_to 'Back', items_path %>
    </div>
    
</div>
