<div class="ui grid stackable">
    
    <div class="row">
        <h3 class="ui header">Editing Category</h3>
    </div>
    
    <div class="row">
        <div>
            <%= link_to 'Show', @category, :class => "ui button blue" %>
        </div>
        <div>
            <%= link_to 'Back', categories_path, :class => "ui button grey" %>
        </div>
    </div>
    
    <div clas="row">
        <%= render 'form', category: @category %>
    </div>
    
</div>
