<div class="ui grid stackable">
   
   <div class="row">
       <h1>New Category</h1>
   </div>
   
   <div class="row">
       <%= render 'form', category: @category %>
   </div>
    
    <div class="row">
        <div>
            <%= link_to 'Back', categories_path, :class => "ui button grey" %>
        </div>
    </div>
    
</div>